<div class="container-fluid full-height">
  <!-- SIDE NAVBAR -->
    <nav class="navbar navbar-inverse navbar-fixed-left">
        <div class="nav navbar-nav">
          <nav class="navbar navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <h5 class="text-white h4">Chatty</h5>
                <h6 class="text-white h7">A simple chat application!</h6>
                <br><br>
                <span class="text-muted">Need and account?</span>
                <a href="/register">Register</a>
                <br>
                <span class="text-muted">Already have an account?</span>
                <a href="/login">Login</a>
              </div>
            </div>
        </div>
      </nav>

<div class="container-fluid margin-top">
  <div class="row">
    <div class="col-md-6 chatty-img-512">
      
    </div>
    <div class="col-md-6">
      <form class="bg-form">
        <div class="form-group">

          <h2 class="text-white">Register a new account!</h2>
          <br>

          <h6 class="text-white">Enter your username</h6>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
          </div>
          <h6 class="text-white">Email adress</h6>
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="you@email.com">
          </div>
          <br>
        <div class="form-group">
          <h6 class="text-white">Password</h6>
          <input type="password" class="form-control">
          <h6 class="text-white">Repeat your password</h6>
          <input type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Send!</button>
      </form>
    </div>
  </div>
</div>



</div>