body {
    background-color: #21D4FD !important;
    background: linear-gradient(19deg, rgba(33, 213, 253, 0.603) 0%, rgba(185, 33, 255, 0.616) 100%),  url("../img/background.jpg") !important;
    
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

html {
    background: rgb(29,142,180);
    background: radial-gradient(horizontal, rgba(29,142,180,1) 60%, #1f628faf 100%);
}

.full-height {
    height: 100% !important;
}

html, body {
    height: 100% !important;
}
.parent {
    display:flex;
}

.bg-form {
    background-color: rgba(54, 54, 54, 0.719);
    padding: 2rem;
    margin: 0;
    border-radius: 1em;
}

.chatty-img-512 {
    background: url("../img/appicon_512.png") !important;
    background-repeat: no-repeat !important;
    background-position: left !important;
    padding-right: 0;
}

.margin-top {
    margin-top: 1em !important;
}

.back-arrow {
    display: block;
    text-indent: -9999px;
    width: 4em;
    height: 4em;
    background: url('../img/back.svg');
}

@media (max-width:770px){
    .image_section img:first-child{
        display:none;
    }
}