<div>
    <a href="#" class="friends-anchor">
        <div class="friends-tab">
            <div class="row">
                <div class="col-md-2">
                    <img src="img/man-icon.png" class="friend-image" alt="">
                </div>
                <div class="col-md-10">
                    <h6 class="margin-bottom"><%-friend%></h6>
                </div>
            </div>
        </div>
    </a>
</div>